{{template "base" .}}

{{define "content"}}
    <section class="w-100 h-100" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        <h1 class="mt-5">404</h1>
        <h2 class="mt-5">Page not found</h2>
    </section>
{{end}}

{{define "css"}}
{{end}}