{{template "admin" .}}

{{define "adminsubpage"}}
    <div class="admin-reservation-celender">
        {{$sm := .StringMap}}
        {{$sm.now_month}}
        {{$sm.now_year}}
        <hr />
        {{$sm.next_month}}
        {{$sm.next_year}}
        {{$sm.last_month}}
        {{$sm.last_year}}
    </div>
{{end}}