{{template "base" .}}

{{define "content"}}
    <section class="w-100">
        <h1 class="ms-5 mt-5">Contact page</h1>
        <ul class="mt-5 ms-5">
            the ways:
            <li>my email: erfanhanifezade@gmail.com</li>
            <li>@erfan_6789 on twitter</li>
            <li>my portfolio: erfanhanifezade.ir</li>
            <li>my github: github.com/erfidev</li>
        </ul>
    </section>
{{end}}

{{define "css"}}
{{end}}

{{define "js"}}
{{end}}