{{template "base" .}}

{{define "content"}}
    <div class="slider">
        <figure class="slider-figure">
            <img src="/static/images/picture-1.jpg" alt="" />
            <img src="/static/images/picture-2.jpg" alt="" />
            <img src="/static/images/picture-3.jpg" alt="" />
        </figure>
    </div>
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/landing.css">
{{end}}

{{define "js"}}

{{end}}