{{template "base" .}}

{{define "content"}}
    <h1>Main html page `/` path</h1>
    <a href="/about">`/about` page</a>
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/style.css" />
{{end}}

