{{template "base" .}}

{{define "content"}}
    <section class="rooms">
        this is the /rooms path
    </section>
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/rooms.css">
{{end}}

{{define "js"}}

{{end}}