
.form-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 450px;
    height: auto;
    border-radius: 5px;
    border-top: solid 2px gray;
}

.form-modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
